<a href="https://colab.research.google.com/github/akshayaaa108/Python-learning-/blob/main/Mo_02_le_07_Dictionary_in_Python_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Dictionary in Python

### Creating Dictionary

In [ ]:
d = {}
print(d)
print(type(d))
print(len(d))

{}
<class 'dict'>
0

In [ ]:
d = {'s':1}
print(d)
print(type(d))
print(len(d))

{'s': 1}
<class 'dict'>
1

In [ ]:
d = {'a':1,'b':2,'c':3}
print(d)
print(type(d))
print(len(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
3

In [ ]:
d = {(1,2):[3,4,5],"Hello":{3,4,5},False:3+4j}
print(d)
print(type(d))
print(len(d))

{(1, 2): [3, 4, 5], 'Hello': {3, 4, 5}, False: (3+4j)}
<class 'dict'>
3

In [ ]:
empty_dict = dict()
print(empty_dict)

{}

In [ ]:
d = dict(name = "John",age = 30)
print(d)

{'name': 'John', 'age': 30}

In [ ]:
d = dict([('name','John'),('age',30),("score",45)])
print(d)

{'name': 'John', 'age': 30, 'score': 45}

In [ ]:
keys = ['a','b','c','d']
d = dict.fromkeys(keys,0)
print(d)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

## Accessing and Looping over dictionary

In [ ]:
d = {'name':'John','age':30,"score":45}
print(d['name'])
print(d['age'])
print(d['score'])

John
30
45

In [ ]:
print(d.get('name'))
print(d.get('age'))
print(d.get('score'))

John
30
45

In [ ]:
print(d.keys())
# print(list(d.keys()))

dict_keys(['name', 'age', 'score'])

In [ ]:
for d in d.keys():
  print(d)

name
age
score

##Actually you don't need the keys function as dictionary name only does the same job.

In [ ]:
# d = {'name':'John','age':30,"score":45}
for key in d:
  print(key)

name
age
score

In [ ]:
print(d.values())

dict_values(['John', 30, 45])

In [ ]:
for values in d.values():
  print(values)

John
30
45

In [ ]:
for k in d:
  print(d[k])

John
30
45

In [ ]:
print(d.items())

dict_items([('name', 'John'), ('age', 30), ('score', 45)])

In [ ]:
for k,v in d.items():
  print(k,v)

name John
age 30
score 45

In [ ]:
for k in d:
  print(k,d[k])

name John
age 30
score 45

##Operations in Dictionary

In [ ]:
d = {'name':'John','age':30,"score":45}
print(len(d))

3

##Adding entries in dictionary.......MOST AMAZING THINGS IN DICTIONARY

In [ ]:
d = {'a':1,'b':2}
d['c']=3 # if key 'c' is there then it will update else add that 'c':3
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
d['a']=100
print(d)

{'a': 100, 'b': 2, 'c': 3}

In [ ]:
d.update({'a':100,'b':200,"c":3,'d':400})
print(d)

{'a': 100, 'b': 200, 'c': 3, 'd': 400}

##deleting entries in dictionary

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
del(d['a'])
print(d)

{'b': 2, 'c': 3}

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
d.pop('a')
print(d)

{'b': 2, 'c': 3}

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
d.popitem()
print(d)

{'a': 1, 'b': 2}

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
d.clear()    # all mutable collections have clear() function
print(d)

{}

##Sorting Dictionary....sorted() function works on any iterable

In [ ]:
d = {'c':3,'a':1,'d':4,'b':2}
print(sorted(d)) #Sorted funcion takes iterable, and name of dictionary is iterable over keys.Just get all the keys in sorted ways.
print(sorted(d.keys()))
print(sorted(d.values()))
print(sorted(d.items())) # sorted function will return list.
sorted_d = dict(sorted(d.items()))  #now it's a dictionary.
print(sorted_d)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
[1, 2, 3, 4]
[('a', 1), ('b', 2), ('c', 3), ('d', 4)]
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

##Hashability of keys

In [ ]:
d = {(1,2):"yes","Hello":[1,2,3],False : 3+4j}
print(d)

{(1, 2): 'yes', 'Hello': [1, 2, 3], False: (3+4j)}

In [ ]:
d = {([1,2],1):4} # as here key is mutablel,so not hashable so error.

TypeError: unhashable type: 'list'

##Nested Dictionary

In [ ]:
student = {
    'name':"Alice",
    'marks':{
        'math':85,
        'science':90
    },
    'address':{
        'city':'Hyderabad',
        'pincode':50001
    }
}
print(student['name'])
print(student['marks'])
print(student['address'])

Alice
{'math': 85, 'science': 90}
{'city': 'Hyderabad', 'pincode': 50001}

In [ ]:
print(student['marks']['math'])
print(student['marks']['science'])
print(student['address']['city'])
print(student['address']['pincode'])

85
90
Hyderabad
50001

##you can also add any new marks for let's say english

In [ ]:
student['marks']['english']=45
print(student)

{'name': 'Alice', 'marks': {'math': 85, 'science': 90, 'english': 45}, 'address': {'city': 'Hyderabad', 'pincode': 50001}}

###Dictionary Comprehensions

In [ ]:
{k:v for k,v in [('a',1),('b',2)('c',3)]}

<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
/tmp/ipython-input-979300320.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  {k:v for k,v in [('a',1),('b',2)('c',3)]}

TypeError: 'tuple' object is not callable

In [ ]:
{n:n*2 for n in range(1,9)}

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16}

###Dictionary Copying

In [ ]:
d1 = {'a':1,'b':[2,3]}
d2 = d1 #just reference
print(id(d1),id(d2))
d2['a']=200
d2['b'].append(500)
print(d1)
print(d2)

140517741893056 140517741893056
{'a': 200, 'b': [2, 3, 500]}
{'a': 200, 'b': [2, 3, 500]}

In [ ]:
d1 = {'a':1,'b':[2,3]}
d2 = d1.copy()   #shallow copy
print(id(d1),id(d2))
d2['a']=200
d2['b'].append(500)
print(d1)
print(d2)
print(id(d1['b']), id(d2['b'])) # it will be same

140517741378624 140517741372992
{'a': 1, 'b': [2, 3, 500]}
{'a': 200, 'b': [2, 3, 500]}
140518133846720 140518133846720

In [ ]:
import copy
d1 = {'a':1,'b':[2,3]}
d2 = copy.deepcopy(d1)   #deep copy
print(id(d1),id(d2))
d2['a']=200
d2['b'].append(500)
print(d1)
print(d2)
print(id(d1['b']), id(d2['b'])) # it will be same

140517742734336 140517742727744
{'a': 1, 'b': [2, 3]}
{'a': 200, 'b': [2, 3, 500]}
140517743215168 140517741546048

##defaultdict

In [ ]:
d = {'a':1,'b':2}
print(d['a'])
print(d['b'])
print(d['c']) # here it will be error as it is not present.....but to deal with this error we use defalutdict.
#...............It's very imp. in graph in comptition programming as we don't want to populate the dictionary
# with all node of graph. Obviously we will want to update it by itself with it's default value when needed and
# later we will change according to our requirements.

1
2

KeyError: 'c'

In [ ]:
from collections import defaultdict

d = defaultdict(int)
print(d)
d['a']=1
d['b']=2
print(d)
print(dict(d))
print(d['a'])
print(d['b'])
print(d['c'])
print(dict(d)) # here by default key 'c' with value 0 will be updated.

defaultdict(<class 'int'>, {})
defaultdict(<class 'int'>, {'a': 1, 'b': 2})
{'a': 1, 'b': 2}
1
2
0
{'a': 1, 'b': 2, 'c': 0}

###Counter

In [ ]:
from collections import Counter
c = Counter("banana")
print(c)

Counter({'a': 3, 'n': 2, 'b': 1})

##Practice Excercises

### take a string count and counts the frequency using a dictionary

In [ ]:
name = "Akshay Kumar yadav"
# from collections import Counter
# c  = Counter(name)
# print(c)

#Without Counter
d = {}
for key in name:
  if key in d:
    d[key] += 1
  else:
    d[key] =1
print(d)

{'A': 1, 'k': 1, 's': 1, 'h': 1, 'a': 4, 'y': 2, ' ': 2, 'K': 1, 'u': 1, 'm': 1, 'r': 1, 'd': 1, 'v': 1}

###Program to reverse the key and value of a dictionary

In [ ]:
d  = {1:'a',2:'b',3:'c'}
rev={v:k for k,v in d.items()}
print(rev)

{'a': 1, 'b': 2, 'c': 3}

###combine two dictionary if a key appears in both sum the value.

In [ ]:
d1  = {'a': 1, 'b': 2, 'c': 3}
d2  = {'a': 4, 'b': 7, 'd': 6}
ans = d1.copy()
for k, v in d2.items():
  if k in ans:
    ans[k]+=v
  else:
    ans[k]=v
print(ans)

{'a': 5, 'b': 9, 'c': 3, 'd': 6}

##create a new dictionary with one who scored more than 75 marks

In [ ]:
d = {'alice':67,'bob':89,'Charlie':99,'David':75,'Ella':76}
ans = {}
for k, v in d.items():
  if v >75:
    ans[k]=v
print(ans)

{'bob': 89, 'Charlie': 99, 'Ella': 76}

In [ ]:
d = {'alice':67,'bob':89,'Charlie':99,'David':75,'Ella':76}
{k:v for k,v in d.items() if v>75}   #Just in one line by dictionary comprehension.

{'bob': 89, 'Charlie': 99, 'Ella': 76}

##Flatten a nested dictionary

In [ ]:
input = {'a':{'x':1,'y':2},'b':{'z':3}}

#output -> {'a_x':1,'a_y':2,'b_z':3}

In [ ]:
def power(base,exponent):
  return base**exponent
print(power(2,3))
print(power(2,exponent=5))
print(2,power = 3)

8
32

TypeError: 'power' is an invalid keyword argument for print()