<a href="https://colab.research.google.com/github/akshayaaa108/Python-learning-/blob/main/Mo_02_le_04_List_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIST in python
**

Creating list

In [ ]:
emptylist = []
print(emptylist)
print(type(emptylist))
print(len(emptylist))

[]
<class 'list'>
0

In [ ]:
number = [1,2,3,4]
print(number)
print(type(number))
print(len(number))

[1, 2, 3, 4]
<class 'list'>
4

In [ ]:
mixed = [1,3.4,True,"HElool",2+3j]
print(mixed)
print(type(mixed))
print(len(mixed))

[1, 3.4, True, 'HElool', (2+3j)]
<class 'list'>
5

list() constructor

In [ ]:
empty_list = list()
print(empty_list)
chars = list("GATE")  #here you give any iterable.
print(chars)

[]
['G', 'A', 'T', 'E']

INdexing and slicing

Accessing and slicing is same as the string in python

In [ ]:
lis = [1,2,3,4,5]
print(lis[1])
print(lis[-3])
print(lis[::2])
print(id(lis[::2]))
print(id(lis))
lis[0]=45
print(id(lis))

2
3
[1, 3, 5]
136134317565632
136134315333632
136134315333632

mathematical operations

In [ ]:
print([1,2,3,4]+[5,6,7,8])
print([1,2,3]*3)
print('b' in ['a','ab','c','d'])
print('b' not in ['a','ab','c','d'])

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
False
True

In [ ]:
print(len([1,2,3,3,45,56]))
print(max([2,3,5,7,8,9,10]))
print(min(['a','b','c']))
print(sum([2,3,5,7,8,9,10]))

6
10
a
44

Adding element to list

In [ ]:
lst = [1,2,3]
lst.append(4)
print(lst)

[1, 2, 3, 4]

In [ ]:
lst = [1,2,3]
lst.insert(1,199)
print(lst)

[1, 199, 2, 3]

In [ ]:
lst = [1,2,3]
lst.extend([4,5,6])
print(lst)

[1, 2, 3, 4, 5, 6]

In [ ]:
lst = [1,2,3]
lst.append([4,5,6])
print(lst)

[1, 2, 3, [4, 5, 6]]

Removing elements from a list

In [ ]:
lst = [1,2,3,4,5]
lst.pop()
print(lst)

[1, 2, 3, 4]

In [ ]:
lst = ['a','b','c','d']
lst.remove('b')
print(lst)

['a', 'c', 'd']

In [ ]:
lst = ['a','b','c','d']
del(lst[1])
print(lst)

['a', 'c', 'd']

In [ ]:
lst = ['a','b','c','d']
del(lst[1:3])
print(lst)

['a', 'd']

In [ ]:
lst = ['a','b','c','d']
del(lst)
print(lst)

NameError: name 'lst' is not defined

In [ ]:
lst = [1,2,3,4,5]
lst.pop(2)
print(lst)

[1, 2, 4, 5]

In [ ]:
lst = [1,2,3,4,5]
lst.clear()
print(lst)

[]

Searching and Counting in list

In [ ]:
lst = ['a',2,'c',4.0,2+3j]
print(lst.index('c'))
print(lst.index(4))
print(lst.index(2+3j))

2
3
4

In [ ]:
lst = ['a',2,'c',4.0,2+3j,'a']
print(lst.count('a'))

2

Sorting and reversing list

In [ ]:
lst =[1,4,3,2,5,4,2]
lst.sort()
print(lst)

[1, 2, 2, 3, 4, 4, 5]

In [ ]:
lst =[1,4,3,2,5,4,2]
lst.sort(reverse=True)
print(lst)

[5, 4, 4, 3, 2, 2, 1]

In [ ]:
lst =[1,4,3,2,5,4,2]
sorted_list = sorted(lst)
print(sorted_list)
print(lst)

[1, 2, 2, 3, 4, 4, 5]
[1, 4, 3, 2, 5, 4, 2]

In [ ]:
lst =[1,4,3,2,5,4,2]
sorted_list = sorted(lst,reverse = True)
print(sorted_list)
print(lst)

[5, 4, 4, 3, 2, 2, 1]
[1, 4, 3, 2, 5, 4, 2]

In [ ]:
lst =[1,4,3,2,5,4,2]
lst.reverse()
print(lst)

[2, 4, 5, 2, 3, 4, 1]

Nested list

In [ ]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix)
print(len(matrix))
print(len(matrix[0]))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3
3

In [ ]:
lst=[1,2]
lst.append([3,4])
print(lst)
lst.append(5)
print(lst)
lst[2].append(7)
print(lst)

[1, 2, [3, 4]]
[1, 2, [3, 4], 5]
[1, 2, [3, 4, 7], 5]

shallow and deep copy in list

In [ ]:
a = [1,2,3]
b=a
b.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = [1,2,3]
b=a.copy()   # this will also create a Shallow copy but if we are not using list inside the list then no issue
b.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
a = [1,2,3]
b=a[::]   # this will also create a Shallow copy as it it slicing but if we are not using list inside the list then no issue
b.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
import copy
a = [1,2,3]
b= copy.copy(a)  # this will also create a Shallow copy but if we are not using list inside the list then no issue
b.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
a = [1,[2,3],[4,5]]
b = a.copy()
b[1].append(6) # here i'm changing the value which is present in both for reference.
b.append(7) # Here i'm making change where address is saved so simply append in only b
print(a)
print(b)
print(id(a))
print(id(b))
print(id(a[1]))
print(id(b[1]))

[1, [2, 3, 6], [4, 5]]
[1, [2, 3, 6], [4, 5], 7]
136134300758656
136134304004672
136134303997952
136134303997952

In [ ]:
import copy
a = [1,[2,3],[4,5]]
b = copy.deepcopy(a)  # Now here it's deep copy not shallow copy
b[1].append(6)
b.append(7)
print(a)
print(b)
print(id(a))
print(id(b))
print(id(a[1]))
print(id(b[1]))

[1, [2, 3], [4, 5]]
[1, [2, 3, 6], [4, 5], 7]
136134302897792
136134300559680
136134302903680
136134302904192

LIST COMPREHENSIONS

In [ ]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
even_squares = [x**2 for x in range(10) if x%2==0]
print(even_squares)

[0, 4, 16, 36, 64]

In [ ]:
labels = ["even" if x%2==0 else "odd" for x in range(10)]
print(labels)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
flatten = [num for row in matrix for num in row]
print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
li = [1,5,"Hello",5.0]
print(id(li))
li[1]=76
print(id(li))
print(id(li[::-1]))  # Here we can see that after doing slicing
                     #  whether in string or list,output will be given at different memory location.

133390623469824
133390623469824
133390629897280

add all even number in a list

In [ ]:
evenli = []
for i in range(101):
  if i%2 ==0:
    evenli.append(i)
print(evenli)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
evenLi = [x for x in range(101) if x%2 == 0]
# even = [x%2 for x in range(101)]   #
print(evenLi)
# print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

Remove all negative number from list

In [ ]:
li = [2,4,-4,5,-5,-9,-876,-7,9,-12,4,56,-234]
positiveLi = [x for x in li if x>0]
print(positiveLi)

[2, 4, 5, 9, 4, 56]

Second largest number in list

In [ ]:
li = [3,5,78,32,45,678,98,675,789,786,789]
li.sort(reverse=True)
print(li)
max = li[0]
for x in li:
  if x < max:
    print(x)
    break

[789, 789, 786, 678, 675, 98, 78, 45, 32, 5, 3]
786

separate into two list one for even and one for odd

In [ ]:
li = list(range(20))
even = []
odd = []
for x in li:
  if x%2 == 0:
    even.append(x)
  else:
    odd.append(x)
print(f"even list : {even} \n odd list: {odd}")

even list : [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
 odd list: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
even = []
odd = []
[even.append(x) if x%2 == 0 else odd.append(x) for x in li]
print(f"even list : {even} \n odd list: {odd}")

even list : [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
 odd list: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

removing duplicate

In [ ]:
li = [1,2,1,2,3,3,11,11,23,4,1,3,2,2,1,1]
print(li)
unique = []
[unique.append(x) for x in li if x not in unique]
print(unique)

[1, 2, 1, 2, 3, 3, 11, 11, 23, 4, 1, 3, 2, 2, 1, 1]
[1, 2, 3, 11, 23, 4]

Rotate the list to left by kth position

In [ ]:
li = [1,2,3,4,5,6,7]
k = 2
print(li[k:] +li[:k] )

[3, 4, 5, 6, 7, 1, 2]

1.Rotate this list to the kth position by right
2.what if k > len(list)

In [ ]:
li = [1,2,3,4,5,6,7]
k = 2
val = len(li)-k
print(li[val:]+li[:val])

[6, 7, 1, 2, 3, 4, 5]

In [ ]:
li = [1,2,3,4,5,6,7]
k = 10
if k >len(li):
  k = k%len(li)
  print(li[k:]+li[:k])
else:
  print(li[k:]+li[:k])

[4, 5, 6, 7, 1, 2, 3]

In [ ]:
import copy
a = [1,[2,3],[4,5]]
b = copy.deepcopy(a)   # Now here it's deep copy not shallow copy
b[1].append(6)
b.append(7)
print(a)
print(b)

[1, [2, 3], [4, 5]]
[1, [2, 3, 6], [4, 5], 7]

In [ ]:
import copy
a = [1,[2,3],[4,5]]
b = copy.copy(a)       # Now here it's shallow copy
b[1].append(6)
b.append(7)
print(a)
print(b)

[1, [2, 3, 6], [4, 5]]
[1, [2, 3, 6], [4, 5], 7]

In [ ]:
import copy
a = [1,[2,3],[4,5]]
b = a.copy()            # Now here it's  shallow copy
b[1].append(6)
b.append(7)
print(a)
print(b)

[1, [2, 3, 6], [4, 5]]
[1, [2, 3, 6], [4, 5], 7]

In [ ]:
import copy
a = [1,[2,3],[4,5]]
b = a[:]               # Now here it's  shallow copy
b[1].append(6)
a.append(7)
print(a)
print(b)

[1, [2, 3, 6], [4, 5], 7]
[1, [2, 3, 6], [4, 5]]