<a href="https://colab.research.google.com/github/akshayaaa108/Python-learning-/blob/main/Mo_02_le_02_Loop_statement_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

while loop

In [ ]:
x = 0
while x<5:
  print(x)
  x = x +1

0
1
2
3
4

For loop

In [ ]:
for c in "Game":
  print(c)

G
a
m
e

In [ ]:
fruits = ["apple",'mango','guava']
for fruit in fruits:
  for f in fruit:
    print(f,end=" ")

  print(" ")

a p p l e
m a n g o
g u a v a

In [ ]:
for x in [23,45,67,34]:
  print(x)

23
45
67
34

In [ ]:
li = [23,45,67,34]
for idx, x in enumerate(li):
  print(idx, x)

0 23
1 45
2 67
3 34

In [ ]:
for idx, item in enumerate((23,54,7878)):
  print(idx, item)

0 23
1 54
2 7878

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in enumerate(range(5,10,2)):
  print(i)

(0, 5)
(1, 7)
(2, 9)

In [ ]:
for i in enumerate(range(20,0,-3)):
  print(i)

(0, 20)
(1, 17)
(2, 14)
(3, 11)
(4, 8)
(5, 5)
(6, 2)

In [ ]:
for c in enumerate("AMul"):
  print(c)

(0, 'A')
(1, 'M')
(2, 'u')
(3, 'l')

sum of digit of a number

In [ ]:
num = 242345
sum= 0
while num !=0:
  digit = num%10
  sum = sum+digit
  num = num // 10

print(sum)

20

counting vowels

In [ ]:
letter = "vOowels"
vowel = "aeiouAEIOU"
count  =  0
for v in letter:
  if v in vowel:
    count +=1
print(count)

3

In [ ]:
print('g' in "game")

True

In [ ]:
dic = {1:'a',2:'b',3:'c',4:'d'}
for key, value in dic.items():
  print(key, value)

1 a
2 b
3 c
4 d

In [ ]:
li = [2,4,5,7,8,9,234,456778]
for i in li:
  print(i)
  if i == 8:
    break

2
4
5
7
8

In [ ]:
tu = (3,4456,78,34,567,78765,234567)
for idx, t in enumerate(tu):
  print(idx,t)

0 3
1 4456
2 78
3 34
4 567
5 78765
6 234567

In [ ]:
for i in range(5):
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
for _ in range(5):
  print("Hello")    # if u don't want to use variable inside loop.

Hello
Hello
Hello
Hello
Hello

**Pass: when we don't have logic then write nothing....**

In [ ]:
for i in range(1,5):
  if i ==3 or i==4:
    pass
  else:
    print(i)

1
2