<a href="https://colab.research.google.com/github/akshayaaa108/Python-learning-/blob/main/Module01_Lec07_variable_memoryManagement_____Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Name = "Alice"
age = 25
is_student = True
marks = {"Maths":91,"Science":46}

print(f"Name: {Name}, Type of name : {type(Name)}")
print(f"Age: {age} , Type of age : {type(age)}")
print(f"Student age : {is_student} , Type of student : {type(is_student)}")
print(f"Marks : {marks} , Type of marks : {type(marks)}")

Name: Alice, Type of name : <class 'str'>
Age: 25 , Type of age : <class 'int'>
Student age : True , Type of student : <class 'bool'>
Marks : {'Maths': 91, 'Science': 46} , Type of marks : <class 'dict'>

# New Section

# New Section

In [ ]:
a, b = 10, 20
print(f"value of a : {a} , Value of b : {b}")

value of a : 10 , Value of b : 20

In [ ]:
x=y=z = 10
print(x,y,z)

10 10 10

In [ ]:
a , b = b, a
print(f"value of a : {a} , Value of b : {b}")

value of a : 20 , Value of b : 10

Dynamically typed

In [ ]:
x = 10
print(f"valur of x : {x}, Type of x : {type(x)}")
x = "I am String"
print(f"valur of x : {x}, Type of x : {type(x)}")

valur of x : 10, Type of x : <class 'int'>
valur of x : I am String, Type of x : <class 'str'>

variable and memory

In [ ]:
a = 10
b = a
print (a, b)
print (a is b )
print(id(a),id(b))

10 10
True
10758024 10758024

In [ ]:
a = [1,2,3]
b = a
b.append(4)
print(a)
print(a is b )
print (id(a), id(b))

[1, 2, 3, 4]
True
133292125997312 133292125997312

Object interning -->    -5 to 125 --stored in cache

In [ ]:
x = 100
y =100
print(x is y)
print (id(x),id(y))

True
10760904 10760904

In [ ]:
x = 257
y = 257
print(x is y)
print (id(x),id(y))

False
133292115850320 133292115842256

variable rebinding  -- if no variable is referencing i.e pointing then that is garbage. if we assign same different value to same variable memeory location is not same

In [ ]:
x = 500
print (id(x))

x = 1000
print (id(x))

x = "Hello"
print (id(x))

133292115846192
133292115839472
133292125929392

garbage collection

In [ ]:
import gc
gc.collect()

584

If you don't want garbage then always delete the varible

In [ ]:
x = 10
del x
print (x)

NameError: name 'x' is not defined

In [ ]:
template = "{:<10} {:<10}"
print(template.format("Name","Marks"))

print(template.format("Alice",91))
print(template.format("Bob",88))
print(template.format("Charlie",95))

Name       Marks
Alice      91
Bob        88
Charlie    95

In [ ]:
a = 5
print(f"{a:06}")
print("{:06}".format(a))

000005
000005

In [ ]:
name = "AKshay"
age = 26
coll = "HIT"

print(f"{name} {age} {coll}")
print(name, age, coll)

AKshay 26 HIT
AKshay 26 HIT

In [ ]:
from posixpath import split
a, b, c  = map ( int,input("ENTER three number using space ").split())
print (a*b*c)

ENTER three number using space 2 3 5
30

In [ ]:
x = 10
y  = 10

y = y+1
print (x)
print(y)
print(x is y)
print(y is x)
print(id(x))
print(id(y))

10
11
False
False
10758024
10758056

In [ ]:
x = 10
y  = x


print (x)
print(y)
print(x is y)
print(y is x)
print(id(x))
print(id(y))

10
10
True
True
10758024
10758024

In [ ]:
a = [1,2,3]
b = a
b.append(4)
print(a)
print(b)
print(id(a))
print(id(b))

[1, 2, 3, 4]
[1, 2, 3, 4]
133810998096192
133810998096192

In [ ]:
a = ["Hello",23,1+3j]
print(a[0])
print(a[1])
print(a[2])
a[1]= 34  # here it can be changed as it is list ie mutable.
print(a[1])
print(type(a))
print(type(a[0]))
print(a)

Hello
23
(1+3j)
34
<class 'list'>
<class 'str'>
['Hello', 34, (1+3j)]

In [ ]:
a=("Hello",23,1+3j)
print(a[0])
print(a[1])
print(a[2])
a[1]= 34  # Here it's tuple ie not mutable.
print(a[1])

Hello
23
(1+3j)

TypeError: 'tuple' object does not support item assignment

In [ ]:
a={"Hello",23,1+3j}
print(a)

{'Hello', (1+3j), 23}

In [ ]:
print("A" ,"b")
print("Hii there")

A b
Hii there

In [ ]:
print("A" ,"b" ,sep = '--',end=' ')
print("Hii there")

A--b Hii there

In [ ]:
name = "AKshay"
marks = 99.9887095
print("my Name is",name,"and marks is",marks)
print(f"my name is {name} and marks is {marks:>010.2f}")
print(f"my name is {name} and marks is {marks:>10.2f}")
print(f"my name is {name} and marks is {marks:<10.2f}")
print(f"my name is {name} and marks is {marks:^10.2f}")
template = "{} scored {} marks"
print (template.format(name, marks))
print ("{1} scored {0} marks by mekfssfsdf".format(name, marks))

my Name is AKshay and marks is 99.9887095
my name is AKshay and marks is 0000099.99
my name is AKshay and marks is      99.99
my name is AKshay and marks is 99.99
my name is AKshay and marks is   99.99
AKshay scored 99.9887095 marks
99.9887095 scored AKshay marks by mekfssfsdf

In [ ]:
a, b = input("ENter two number using space").split()
print ( a ,  "--------------",b)
print(type(a))

a, b = map(int,input("ENter two number using space").split())
print ( a ,  "--------------",b)
print(type(a))

ENter two number using space3 5
3 -------------- 5
<class 'str'>
ENter two number using space45 78
45 -------------- 78
<class 'int'>

In [ ]:
items = ["apple",23,"2+3i"]   # complex will alwyas take as string
fruit = "apple"
num = 23
com = "2+3j"

print(items)
print(items)
print(fruit in items)
print(num in items)
print(com in items)

['apple', 23, '2+3i']
['apple', 23, '2+3i']
True
True
False

In [ ]:
a,b = map(int,input("Enter two numbe using space to swap: ").split("-"))
a,b = b,a
print (a,b)

Enter two numbe using space to swap: 45-5
5 45