<a href="https://colab.research.google.com/github/akshayaaa108/Python-learning-/blob/main/Module01_Lec05_input_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Everything in pyton is an object, so writing a variable is also an Object of some class. So, all the data type will be class & the variable we are creating is object of that class.

In [3]:
x = 10
y1 = 3.12
y2 = 2e-4
y3 = 2E-4
z = 2 + 3j

print(type(x))
print(type(y1))
print(type(y2))
print(type(y3))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>

##Type Conversion

In [7]:
print(int(y1))
print(float(x))
print(complex(x))

3
10.0
(10+0j)

In [50]:
a = [2,3,4]
b = (1,5,4)
c ={2,3,9}
s = "Hello"

f = list(b)
f[0]=45
print(f)
print(type(f))

print(s)
g = list(s)
g[2]="dff"
print(g)

[45, 5, 4]
<class 'list'>
Hello
['H', 'e', 'dff', 'l', 'o']

##Boolean

In [16]:
is_raining = True
print(is_raining + 1)
print(is_raining + is_raining)
print(True + True)
x = is_raining + is_raining
print(type(is_raining))
print(x)
print(type(x))

2
2
2
<class 'bool'>
2
<class 'int'>

##Sequence Type
1.Str
2.list
3.tuple

In [18]:
name  = "Python"
number = [1,2,3,4,5]
coordinates = (12,34)
print(type(name))
print(type(number))
print(type(coordinates))
print(name[3])
print(number[2])
print(coordinates[0])

<class 'str'>
<class 'list'>
<class 'tuple'>
h
3
12

In [19]:
a = "Hellooo"
a[0]="Yelo"
print(a)

TypeError: 'str' object does not support item assignment

##Set
##'set' object does not support item assignment

In [52]:
myset = {1,2,3,4,5,1,3,4,6,7,7}
print(myset)
print(type(myset))
li = list(myset)
print(list(myset)[0])
li[0]=11
print(myset)
print(li)

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
1
{1, 2, 3, 4, 5, 6, 7}
[11, 2, 3, 4, 5, 6, 7]

##Dictionary

In [38]:
person = {"Name":"Akshay","age":27} # For integer I can use the double quotes or not.
print(person["Name"])
print(person['age'])

Akshay
27

In [39]:
a = {1:"asf",2:"afsfs",
     4:"sagasf",
     5: "afasdf"}

print(a[4])

sagasf

##Arithmetic Expressions

In [46]:
print(10//3)
print(10/3)
print(4 and 6)
print(4 or 6)
print(0 and 5)
print(2>3 and 5>3)
print(not 5)

3
3.3333333333333335
6
4
0
False
False