<a href="https://colab.research.google.com/github/akshayaaa108/Python-learning-/blob/main/module01_lec06_input_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

printing the table with proper alingment:

In [ ]:
print("printing the table with proper alingment: ")
name = input()
marks = input()
print(f"{name:<10}    {marks:<10}")

printing the table with proper alingment:
adsfds
12
adsfds        12

In [ ]:
num = 5
print(f"{num:05d}")

00005

In [ ]:
print("ENter your name , age and college: ")
name, age, college = input().split()
print (f"{name} {age} {college}")

ENter your name , age and college:
Akshay 26  HIT
Akshay 26 HIT

## using separater we remove the space and also add what we want.

In [ ]:
print("name:","Alice","Age:",21,sep="")

name:AliceAge:21

In [ ]:
print("name:","Alice","Age:",21)

name: Alice Age: 21

In [ ]:
print("HEllo")
print("world")

HEllo
world

In [ ]:
print("HEllo",end=" ")
print("world")

HEllo world

In [ ]:
name = "Alice"
marks = 91.456
print(name, "scored",marks,"marks")

Alice scored 91.456 marks

In [ ]:
print(f"{name} scored {marks} marks")

Alice scored 91.456 marks

In [ ]:
price =  123.4567
print('price:',price)
print(f"price: {price}")
print(f"price (round to two decimal places): {price:.2f}")
print(f"price (round to two decimal places and 10 spaces): {price:10.2f}")
print(f"price (round to two decimal places and right align): {price:>10.2f}")
print(f"price (round to two decimal places and centre align): {price:^10.2f}")

price: 123.4567
price: 123.4567
price (round to two decimal places): 123.46
price (round to two decimal places and 10 spaces):     123.46
price (round to two decimal places and right align):     123.46
price (round to two decimal places and centre align):   123.46

In [ ]:
template = "{} scored {} marks"
print(template.format(name, marks))

Alice scored 91.456 marks

In [ ]:
print("{1} scored {0} marks".format(marks, name))

Alice scored 91.456 marks

In [ ]:
print("{name} scored {marks}".format(name = 'bob', marks=87.8765))

bob scored 87.8765

##printing the table with proper alingment:
By default left align

In [ ]:
template = "{:<13} {:<5}"
print(template.format("Name","Marks"))
print(template.format("Alice","91"))
print(template.format("Bob","88"))
print(template.format("charlie","95"))

Name          Marks
Alice         91
Bob           88
charlie       95

## Python output

In [ ]:
a = input()

24

In [ ]:
print(a)

24

In [ ]:
name = input("ENter ypur name: ")
print ("Hello",name)

ENter ypur name: adadsf
Hello adadsf

In [ ]:
age = input("Enter your age : ")
print(age)

Enter your age : 34
34

In [ ]:
type(age)

str

In [ ]:
age = int(input("Enter ur age: "))
print(age)

Enter ur age: 34
34

In [ ]:
type(age)

int

In [ ]:
input()

234 454'

"234 454'"

In [ ]:
a, b = input("Enter two number").split()

Enter two number23 45

In [ ]:
print(a,type(a),b,type(b))

23 <class 'str'> 45 <class 'str'>

as both are string so i'll map both to integer.

In [ ]:
a,b = map(int,input("Enter two numbers: ").split())

Enter two numbers: 34 56

In [ ]:
print(a,type(a),b,type(b))

34 <class 'int'> 56 <class 'int'>

Read three space separated integer and print their product

In [ ]:
a,b, c = map(int , input("Enter theree space separated integer: ").split())
print(a*b*c)

Enter theree space separated integer: 2 3 4
24